h1 {
  text-align: center;
}
@media only screen and (min-device-width: 460px) {
  h2,
  h3,
  p,
  table {
    max-width: 460px;
    margin: 0.5em auto;
  }
}
figure {
  text-align: center;
  margin: 1em auto;
}
@media only screen and (min-device-width: 460px) {
  figure {
    max-width: 960px;
  }
}
figure img {
  width: 100%;
  height: auto;
}
figure figcaption {
  font-style: italic;
}
td,
th {
  padding: 0.5em;
}
